@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.App {
    font-family: "Poppins", sans-serif;
    background-color: #F4F4F4;
    color: #292929;
}

/* Span */
.caption {
    font-weight: bold;
    color: #292929;

}

.kamar {
    color: whitesmoke;
    font-weight: bold;
}

.sinau {
    color: rgb(228, 28, 28);
    font-weight: bold;
}


/* jumbotron */
.jumbotron {
    padding-top: 1px;
}

/* category */
.category-content {
    padding-top: 40px;
}

.choice-category {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.choice-category h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* category card */
.category-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 56px;
    border: 1px solid #0db38c;
    border-radius: 5px;
}

.category-card .category-name {
    font-size: 18px;
    font-weight: 600;
}

/* introduction */
.introduction {
    padding-top: 40px;
}

.title-text {
    color: black;
    font-weight: 18px;
}

.font {
    font-size: 16px;
}

.header-introduction {
    background-color: #1e8876ba;
    font-size: 12px;
    border-radius: 5px 55px 8px 55px;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid rgb(8, 8, 8);
}

.header-introduction {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

/* aboutUs*/
.about {
    border-top: 2px solid #0db38c;
    border-bottom: 2px solid #0db38c;
    margin: 50px 0;
    border-radius: 10px 55px 10px 55px;

}

.about-content h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    color: #0db38c;
}

.about .about-content p {
    font-size: 14px;
    color: #f6ebeb;
    text-align: justify;
}

.choice-about {
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.choice-about span {
    color: #f6ebeb;
}

.choice-about h4 {
    color: #0db38c;
    font-size: 18px;
}

.admin {
    height: 150px;
    width: 150px;
}


/* footer */
.footer {
    padding: 40px 0;
}

.img {
    width: 200px;
    padding-top: 5px;
}

.footer-right .logo2 {
    font-size: 32px;
}


.footer-right p {
    font-size: 14px;
    text-align: justify;
    color: whitesmoke;
}

.footer-right .sosial-media {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    background-color: #0db38c;
    border-radius: 50%;
    cursor: pointer;
}

.footer-left h3 {
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
}

.footer-left h6 {
    font-size: 14px;
    color: #0db38c;
}

.text-center {
    text-align: center;
    color: whitesmoke;
}

.p-2 {
    padding: 20px;
}


/* register page */
.register-page {
    height: 100vh;
    background-color: #d3faf1;
}

.register-input {
    margin-top: 35px;
}

.register-right h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.register-right p {
    font-size: 15px;
    color: black;
}

.register-right a {
    text-decoration: none;
    color: #148067db;
    font-weight: 700;
}

.register-right .form-label {
    font-weight: 500;
    color: black;
}

.register-right .form-control::placeholder {
    font-size: 14px;
    color: #666565;
    font-weight: 300;
}

.register-left h1 {
    padding-top: 24px;
    font-size: 22px;
    color: #148067db;
    font-weight: 700;
    text-align: center;
}

.register-right .btn3 {
    font-size: 14px;
    background-color: #148067ef;
    border: 2px solid transparent;
    color: white;
    width: 70%;
}

.register-right .btn3:hover {
    background-color: #fff;
    border: 2px solid #148067ef;
    color: #148067ef;
}


.register-left p {
    font-size: 14px;
    text-align: center;
}

.register-left .image-register img {
    width: 100%
}


/* login page */
.login-page {
    height: 100vh;
    background-color: #d3faf1;
}

.login-right {
    margin-top: 70px;
}

.login-right h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.login-right p {
    font-size: 15px;
    color: black;
}

.login-right a {
    text-decoration: none;
    color: #148067db;
    font-weight: 700;
}

.login-right .form-label {
    font-weight: 500;
    color: black;
}

.login-right .form-control::placeholder {
    font-size: 14px;
    color: #666565;
    font-weight: 300;
}

.login-left h1 {
    padding-top: 24px;
    font-size: 22px;
    color: #06755bdb;
    font-weight: 700;
    text-align: center;
}

.login-right .btn3 {
    font-size: 14px;
    background-color: #148067ef;
    border: 2px solid transparent;
    color: white;
    width: 70%;
}

.login-right .btn3:hover {
    background-color: #fff;
    border: 2px solid #148067ef;
    color: #148067ef;
}


.login-left p {
    font-size: 14px;
    text-align: center;
}

.login-left .image-login img {
    width: 100%
}

/* Dasboard */
.dasboard-page {
    padding-top: 30px;
    margin-bottom: 150px;
}

.dasboard-page a {
    color: #292929;
}

.user-dasboard .img-dasboard img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-dasboard h1 {
    font-size: 16px;
    font-weight: 500;
}

.user-dasboard p {
    font-size: 12px;
    color: #9FA6B0;
}

.nav .nav-link-dasboard {
    font-size: 15px;
}

.nav .nav-item-dasboard {
    font-size: 14px;
    padding-left: 48px;
}

.dasboard-right {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.dasboard-right h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: white;
}

.dasboard-right p {
    font-size: 12px;
    color: #0db38c;
}

.dasboard-right h4 {
    font-size: 20px;
    color: #0db38c;
}

.dasboard-right span {
    color: whitesmoke;
}

.dasboard-category {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #0db38c;
    border-radius: 5px;
}


.dasboard-right label {
    font-weight: 500;
}

.dasboard-right .btn {
    margin-top: 15px;
    font-size: 14px;
    background-color: #0db38c;
    border: 2px solid transparent;
    border-radius: 18px;
    color: black;
}

.dasboard-right .btn:hover {
    background-color: #fff;
    border: 1px solid #0db38c;
    color: #0db38c;
}

/*search bar & item list*/
.search-bar input {
    margin: 16px 0;
    background-color: transparent;
    border: 2px solid #0db38c;
    border-radius: 20px;
    padding: 8px;
    width: 35%;
    color: black;
}

.modules-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px 8px;
    margin: 0 auto;
    padding: 32px 0;
    width: 90%;
    max-width: 1200px;
    color: #121212;
}


.module-item {
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #0db38c;
    border-top: 5px solid;

}

.module-item__title {
    margin: 4px 0;
}

.module-item__createdAt {
    color: black;
    font-size: 14px;
    margin: 4px 0;
}

.module-item__body {
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

/* profile page */
.profile-page {
    padding-top: 30px;
    margin-bottom: 100px;
}

.profile-page a {
    color: black;
}

.user-profile .img-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-profile h1 {
    font-size: 16px;
    font-weight: 500;
}

.user-profile p {
    font-size: 12px;
    color: #9FA6B0;
}

.nav .nav-link-profile {
    font-size: 15px;
}

.nav .nav-item-profile {
    font-size: 14px;
    padding-left: 48px;
}

.profile-right {
    background-color: rgb(17, 16, 16);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 4px #0db38c;
}

.form-label {
    color: white;
}

.profile-right h1 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.profile-right p {
    font-size: 14px;
    color: rgb(179, 171, 171);
}

.profile-right label {
    font-weight: 500;
}

.profile-right .btn3 {
    margin-top: 30px;
    font-size: 14px;
    background-color: #0db38c;
    border: 1px solid transparent;
    color: black;
}

.profile-right .btn3:hover {
    background-color: #fff;
    border: 2px solid #0db38c;
    color: #0db38c;
}

/* forum page */
.forum-page {
    padding-top: 30px;
    margin-bottom: 100px;
}

.forum-page a {
    color: black;
}

.user-forum .img-forum img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-forum h1 {
    font-size: 16px;
    font-weight: 500;
}

.user-forum p {
    font-size: 12px;
    color: #9FA6B0;
}

.nav .nav-link-forum {
    font-size: 15px;
}

.nav .nav-item-forum {
    font-size: 14px;
    padding-left: 48px;
}

.forum-right {
    background-color: rgb(17, 16, 16);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 4px #0db38c;
}

.form-label {
    color: white;
}

.forum-right h1 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.forum-right p {
    font-size: 14px;
    color: rgb(179, 171, 171);
}

.forum-right label {
    font-weight: 500;
}

.forum-right .btn3 {
    margin-top: 30px;
    font-size: 14px;
    background-color: #0db38c;
    border: 1px solid transparent;
    color: black;
}

.forum-right .btn3:hover {
    background-color: #fff;
    border: 2px solid #0db38c;
    color: #0db38c;
}