@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.App {
    font-family: "Poppins", sans-serif;
    background-color: var#F4F4F4;
    color: #292929;
}

/* Span */
.caption {
    font-weight: bold;
    color: #292929;

}

.kamar {
    color: whitesmoke;
    font-weight: bold;
}

.sinau {
    color: rgb(228, 28, 28);
    font-weight: bold;
}


/* jumbotron */
.jumbotron {
    padding-top: 1px;
}

/* category */
.category-content {
    padding-top: 40px;
}

.choice-category {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.choice-category h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* category card */
.category-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 56px;
    border: 1px solid #0db38c;
    border-radius: 5px;
}

.category-card .category-name {
    font-size: 18px;
    font-weight: 600;
}

/* introduction */
.introduction {
    padding-top: 40px;
}

.title-text {
    color: black;
    font-weight: 18px;
}

.font {
    font-size: 16px;
}

.header-introduction {
    background-color: #1e8876ba;
    font-size: 12px;
    border-radius: 5px 55px 8px 55px;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid rgb(8, 8, 8);
}

.header-introduction {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

/* aboutUs*/
.about {
    border-top: 2px solid #0db38c;
    border-bottom: 2px solid #0db38c;
    margin: 50px 0;
    border-radius: 10px 55px 10px 55px;

}

.about-content h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    color: #0db38c;
}

.about .about-content p {
    font-size: 14px;
    color: #f6ebeb;
    text-align: justify;
}

.choice-about {
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.choice-about span {
    color: #f6ebeb;
}

.choice-about h4 {
    color: #0db38c;
    font-size: 18px;
}

.admin {
    height: 150px;
    width: 150px;
}


/* footer */
.footer {
    padding: 40px 0;
}

.img {
    width: 200px;
    padding-top: 5px;
}

.footer-right .logo2 {
    font-size: 32px;
}


.footer-right p {
    font-size: 14px;
    text-align: justify;
    color: whitesmoke;
}

.footer-right .sosial-media {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    background-color: #0db38c;
    border-radius: 50%;
    cursor: pointer;
}

.footer-left h3 {
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
}

.footer-left h6 {
    font-size: 14px;
    color: #0db38c;
}

.text-center {
    text-align: center;
    color: whitesmoke;
}

.p-2 {
    padding: 20px;
}


/* register page */
.register-page {
    height: 100vh;
    background-color: #d3faf1;
}

.register-input {
    margin-top: 20px;
}

.register-right h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.register-right p {
    font-size: 15px;
    color: black;
}

.register-right a {
    text-decoration: none;
    color: #148067db;
    font-weight: 700;
}

.register-right .form-label {
    font-weight: 500;
}

.register-right .form-control::placeholder {
    font-size: 14px;
    color: #666565;
    font-weight: 300;
}

.register-left h1 {
    padding-top: 24px;
    font-size: 22px;
    color: #148067db;
    font-weight: 700;
    text-align: center;
}

.register-right .btn3 {
    font-size: 14px;
    background-color: #148067ef;
    border: 2px solid transparent;
    color: white;
    width: 70%;
}

.register-right .btn3:hover {
    background-color: #fff;
    border: 2px solid #148067ef;
    color: #148067ef;
}


.register-left p {
    font-size: 14px;
    text-align: center;
}

.register-left .image-register img {
    width: 100%
}


/* login page */
.login-page {
    height: 100vh;
    background-color: #d3faf1;
}

.login-right {
    margin-top: 70px;
}

.login-right h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.login-right p {
    font-size: 15px;
    color: black;
}

.login-right a {
    text-decoration: none;
    color: #148067db;
    font-weight: 700;
}

.login-right .form-label {
    font-weight: 500;
}

.login-right .form-control::placeholder {
    font-size: 14px;
    color: #666565;
    font-weight: 300;
}

.login-left h1 {
    padding-top: 24px;
    font-size: 22px;
    color: #06755bdb;
    font-weight: 700;
    text-align: center;
}

.login-right .btn3 {
    font-size: 14px;
    background-color: #148067ef;
    border: 2px solid transparent;
    color: white;
    width: 70%;
}

.login-right .btn3:hover {
    background-color: #fff;
    border: 2px solid #148067ef;
    color: #148067ef;
}


.login-left p {
    font-size: 14px;
    text-align: center;
}

.login-left .image-login img {
    width: 100%
}